:root {
  --neutral-950: hsl(0, 0%, 0%);
  --neutral-300: hsl(0, 0%, 85%);
  --neutral-0: hsl(0, 0%, 100%);
  --aqua-100: hsl(196, 46%, 79%);
  --aqua-50: hsl(196, 83%, 93%);
  --navy: hsl(240, 67%, 8%);
  --teal: hsl(169, 73%, 44%);
  --purple: hsl(283, 67%, 71%);
  --bronze: hsl(30, 47%, 49%);
  --red: hsl(2, 68%, 53%);
  --orange: hsl(10, 63%, 51%);
  --amber: hsl(33, 82%, 61%);
  --blue: hsl(222, 87%, 56%);
  --sky: hsl(194, 48%, 49%);
}
.league-spartan-regular {
  font-family: "League Spartan", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.league-spartan-bold {
  font-family: "League Spartan", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}
.antonio-regular {
  font-family: "Antonio", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-size: 100%;
  font-weight: 400;
}

img {
  max-width: 100%;
  height: auto;
}
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
button {
  margin: 0;
}
button {
  border: none;
  outline: none;
}
a {
  text-decoration: none;
}
ul {
  list-style-type: none;
}
.planet-container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  min-height: 1025px;
  background-color: var(--neutral-950);
  background-image: url("../assets/background-stars.svg");
  background-repeat: no-repeat;
  background-size: cover;
  color: var(--neutral-0);
  .container {
    max-width: 1110px;
    margin-inline: auto;
  }
  .header {
    border-bottom: 1px solid rgba(217, 217, 217, 0.35);
    .header__container {
      padding: 25px 32px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .header__logo {
        font-size: 28px;
        line-height: 130%;
        letter-spacing: -1px;
        text-transform: uppercase;
        color: var(--neutral-0);
      }
      #open__button {
        display: none;
      }
      nav {
        ul {
          margin: 0;
          padding: 0;
          display: flex;
          align-items: center;
          column-gap: 40px;
          li {
            position: relative;
            &:hover::after {
              position: absolute;
              content: "";
              width: 100%;
              height: 2px;
              top: -22px;
              left: 0;
              background-color: aliceblue;
            }
            &:nth-child(1):hover::after {
              background-color: var(--sky);
            }
            &:nth-child(2):hover::after {
              background-color: var(--amber);
            }
            &:nth-child(3):hover::after {
              background-color: var(--purple);
            }
            &:nth-child(4):hover::after {
              background-color: var(--orange);
            }
            &:nth-child(5):hover::after {
              background-color: var(--red);
            }
            &:nth-child(6):hover::after {
              background-color: var(--bronze);
            }
            &:nth-child(7):hover::after {
              background-color: var(--teal);
            }
            &:nth-child(8):hover::after {
              background-color: var(--blue);
            }
            a {
              font-size: 11px;
              text-transform: uppercase;
              line-height: 225%;
              letter-spacing: 1px;
              color: var(--neutral-0);
              opacity: 0.75;
              transition: opacity 350ms ease-in-out;
              &:hover {
                opacity: 1;
              }
            }
          }
        }
      }
    }
  }
  .main {
    .planet__description {
      /* margin-block: 127px 86px; */
      margin-block: clamp(94px, calc(79px + 3.333vw), 127px)
        clamp(28px, calc(1.636px + 5.859vw), 86px);
      padding-inline-start: 170px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .planet__images {
        display: none;
        img {
          width: clamp(111px, calc(29.636px + 18.081vw), 290px);
          height: clamp(111px, calc(29.636px + 18.081vw), 290px);
        }
      }
      .planet__images.bg-images {
        position: relative;
        &::after {
          content: "";
          position: absolute;
          background-image: url("../assets/geology-mercury.png");
          /* width: 163px; */
          width: clamp(82px, calc(45.182px + 8.182vw), 163px);
          /* height: 199px; */
          height: clamp(100px, calc(55px + 10vw), 199px);
          background-repeat: no-repeat;
          background-size: cover;
          bottom: -125px;
          left: 65px;
        }
      }
      .planet__images.active {
        display: block;
      }
      .description__content {
        display: flex;
        flex-direction: column;
        .description-text {
          /* max-width: 350px; */
          max-width: clamp(327px, calc(316.545px + 2.323vw), 350px);
          margin-block-end: 40px;
          display: none;
          h1 {
            font-size: clamp(2.5rem, calc(1.364rem + 4.04vw), 5rem);
            line-height: 130%;
            text-transform: uppercase;
            color: var(--neutral-0);
            margin-block-end: 23px;
          }
          .text {
            font-size: 14px;
            line-height: 180%;
            color: var(--neutral-0);
            margin-block-end: 24px;
          }
          .links-planet {
            font-size: 14px;
            line-height: 180%;
            color: var(--neutral-0);
            mix-blend-mode: normal;
            opacity: 0.5;
            position: relative;
            span {
              font-size: 14px;
              line-height: 180%;
              color: var(--neutral-0);
              text-decoration: underline;
              text-decoration-skip-ink: none;
            }
            &::after {
              position: absolute;
              content: "";
              width: 12px;
              height: 12px;
              background-image: url("../assets/icon-source.svg");
              background-repeat: no-repeat;
              left: 115px;
              bottom: 0;
            }
          }
        }
        .description-text.active {
          display: block;
        }
        .description-links {
          display: flex;
          flex-direction: column;
          align-items: center;
          row-gap: 16px;
          padding-inline-start: 0;
          li {
            width: 350px;
            height: 48px;
            border: 1px solid rgba(217, 217, 217, 0.35);
            padding: 12px 24px;
            cursor: pointer;
            transition: background 450ms ease-in-out;
            position: relative;
            /* Increment the counter for each li */
            counter-increment: numbers;
            &::before {
              position: absolute;
              /* Key change: set format to leading zero */
              content: counter(numbers, decimal-leading-zero);
              left: 12px;
              font-weight: 700;
              font-size: 12px;
              line-height: 210%;
              letter-spacing: 2.5px;
              color: var(--neutral-0);
              mix-blend-mode: normal;
              opacity: 0.5;
            }
            &:hover {
              border: none;
              background: hsl(240, 19%, 24%);
            }
            button {
              border: none;
              background: transparent;
              padding: 0;
              font-weight: 700;
              font-size: 12px;
              line-height: 210%;
              letter-spacing: 2.5px;
              text-transform: uppercase;
              color: var(--neutral-0);
              padding-inline-start: 30px;
              cursor: pointer;
            }
          }
          li:has(button.active) {
            border: none;
            background-color: var(--sky);
          }
        }
      }
    }
  }
  .footer {
    ul {
      display: flex;
      align-items: center;
      column-gap: 30px;
      li {
        width: 255px;
        /* width: clamp(255px, calc(359.727px - 7.273vw), 327px); */
        height: 128px;
        /* height: clamp(48px, calc(15.273px + 7.273vw), 120px); */
        border: 1px solid rgba(217, 217, 217, 0.35);
        padding: 24px;
        /* padding: 24px clamp(11px, calc(5.091px + 1.313vw), 24px); */
        font-size: clamp(1.25rem, calc(0.682rem + 2.02vw), 2.5rem);
        line-height: 130%;
        letter-spacing: -1.5px;
        text-transform: uppercase;
        color: var(--neutral-0);
        span {
          display: block;
          font-weight: 700;
          font-size: 11px;
          line-height: 225%;
          letter-spacing: 1px;
          color: #ffffff;
          mix-blend-mode: normal;
          opacity: 0.5;
        }
      }
    }
  }
}

/* 768px */
@media (width <= 48rem) {
  .container {
    max-width: 686px;
  }
  .planet-container {
    .header {
      .header__container {
        flex-direction: column;
        row-gap: 32px;
        padding: 32px 55px;
        nav {
          ul {
            column-gap: 32px;
          }
        }
      }
    }
    .main {
      .planet__description {
        flex-direction: column;
        padding-inline-start: 0;
        row-gap: 130px;
        .planet__images.bg-images {
          &::after {
            bottom: -90px;
            left: 30px;
          }
        }
        .description__content {
          flex-direction: row;
          column-gap: 69px;
          align-items: baseline;
          .description-text {
            margin-block-end: 0;
            .text {
              margin-block-end: 32px;
            }
          }
          .description-links {
            li {
              width: 281px;
              height: 40px;
            }
          }
        }
      }
    }
    .footer {
      ul {
        column-gap: 10px;
        li {
          width: 164px;
          height: 88px;
          padding: 17px 16px;
        }
      }
    }
  }
}

/* 440px */
@media (width <= 27.5rem) {
  .planet-container {
    .container {
      max-width: 327px;
    }
    .header {
      .header__container {
        padding: 16px 24px;
        flex-direction: row;
        #open__button {
          display: block;
          background: transparent;
          cursor: pointer;
        }
        nav {
          position: fixed;
          top: 80px;
          right: -475px;
          width: 100%;
          background-color: var(--neutral-950);
          z-index: 10;
          ul {
            flex-direction: column;
            align-items: flex-start;
            /* gap: 41px 0; */
            padding-inline-start: 24px;
            li {
              border-bottom: 1px solid rgb(255, 255, 255, 0.1);
              max-width: 327px;
              width: 100%;
              display: flex;
              align-items: center;
              min-height: 65px;
              /* 1. ПОЛНОСТЬЮ ОТМЕНЯЕМ ЭФФЕКТ ХОВЕРА ИЗ ДЕСКТОПА */
              &:hover::after {
                /* Сбрасываем десктопный top: -22px */
                top: 24px;
                /* Фиксируем мобильную ширину круга */
                width: 20px;
                /* Фиксируем мобильную высоту круга */
                height: 20px;
              }
              &::before {
                position: absolute;
                content: "";
                width: 6px;
                height: 8px;
                background-image: url(../assets/icon-chevron.svg);
                background-repeat: no-repeat;
                top: 24px;
                left: 325px;
              }
              /* 2. СТИЛИ ДЛЯ МОБИЛЬНОГО КРУЖОЧКА (БЕЗ ХОВЕРА) */
              &::after {
                position: absolute;
                content: "";
                width: 20px;
                height: 20px;
                border-radius: 50%;
                top: 24px;
                left: 0;
                background-color: aliceblue;
              }
              /* Цвет кружочков применяется СРАЗУ, а не при ховере */
              &:nth-child(1)::after,
              &:nth-child(1):hover::after {
                background-color: var(--sky);
              }
              &:nth-child(2)::after,
              &:nth-child(2):hover::after {
                background-color: var(--amber);
              }
              &:nth-child(3)::after,
              &:nth-child(3):hover::after {
                background-color: var(--purple);
              }
              &:nth-child(4)::after,
              &:nth-child(4):hover::after {
                background-color: var(--orange);
              }
              &:nth-child(5)::after,
              &:nth-child(5):hover::after {
                background-color: var(--red);
              }
              &:nth-child(6)::after,
              &:nth-child(6):hover::after {
                background-color: var(--bronze);
              }
              &:nth-child(7)::after,
              &:nth-child(7):hover::after {
                background-color: var(--teal);
              }
              &:nth-child(8)::after,
              &:nth-child(8):hover::after {
                background-color: var(--blue);
              }
              a {
                font-size: 15px;
                line-height: 165%;
                text-align: center;
                letter-spacing: 1.35px;
                color: var(--neutral-0);
                opacity: 1;
                padding-inline-start: 45px;
                /* Сбрасываем изменение прозрачности ссылки при ховере на мобилке */
                &:hover {
                  opacity: 1;
                }
              }
            }
          }
        }
        nav.show {
          right: 0;
        }
      }
    }
    .main {
      .planet__description {
        row-gap: 98px;
        .planet__images.bg-images {
          &::after {
            bottom: -70px;
            left: 15px;
          }
        }
        .description__content {
          text-align: center;
          .description-text {
            h1 {
              margin-block-end: 16px;
            }
          }
          .description-links {
            max-width: 336px;
            width: 100%;
            flex-direction: row;
            justify-content: space-between;
            gap: 48px 0;
            position: absolute;
            top: 75px;
            border-bottom: 1px solid rgba(217, 217, 217, 0.35);
            li {
              width: 80px;
              height: 25px;
              border: none;
              padding: 0;
              &::before {
                display: none;
              }
              &:hover {
                border: none;
                background: transparent;
              }
              button {
                font-size: 9px;
                line-height: 275%;
                text-align: center;
                letter-spacing: 2px;
                padding: 0;
                mix-blend-mode: normal;
                opacity: 0.5;
                span {
                  display: none;
                }
              }
            }

            li:has(button.active) {
              border: none;
              background-color: transparent;
              border-bottom: 2px solid var(--sky);
              opacity: 1;
            }
          }
        }
      }
    }
    .footer {
      ul {
        flex-direction: column;
        gap: 8px 0;
        padding: 0;
        li {
          width: 327px;
          height: 48px;
          padding: 11px 24px;
          display: flex;
          align-items: center;
          justify-content: space-between;
        }
      }
    }
  }
}
